# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
*.egg
*.log

# Envs
env/
venv/
ENV/
.venv/
pip-log.txt

# Django-specific
*.sqlite3
db.sqlite3
/media/
/staticfiles/
/static/

# VS Code
.vscode/

# Mac & Linux
.DS_Store

# Windows
Thumbs.db
ehthumbs.db
desktop.ini

# Migrations (opsiyonel, dikkatli kullan!)
# */migrations/
# !*/migrations/__init__.py
